/* Base estrutural da app */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Tipografia padrão mais “moderna” */
body,
button,
input,
textarea {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
